# Build artifacts
build/
install/

# GROMACS / Simulation Data (Global Ignore)
*.gro
*.tpr
*.xtc
*.trr
*.edr
*.xvg
*.log
*.cpt
*.dat
*.mdp
*.top
*.itp
*.pdb
*.fasta

# Temporary/System files
.DS_Store
*~
*.swp
\#*#

# Experiment & Test Directories

test_*/*
experiment_*/*
!*.png
!*.html